body {
    font-family: sans-serif;
    color: gray;
}

header {
    text-align: center;
}

span {
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;

}

*{
  padding: 0;
  margin: 0;
}

p{
  margin: 10px 0px;
}

